<section id="about" class="py-5">
<div class="px-0 px-md-5 px-lg-5">

    <h2 class="text-center">About</h2>
    <p>GenderMeowster is a transmasc nonbinary AuDHD white disabled Twitch affiliate. They are offering comfy cozy moderated queer spaces & content <a href="https://www.genderfulpodcast.com"  target="_blank"> @GenderfulPod</a> creator and <a href="https://www.twitch.tv/team/disabledcccollective"  target="_blank">DisabledCCC stream team.</a></p>
    <h2 class="text-center">Values</h2>

<p>GenderMeowster’s various spaces strive to be comfy, cozy spaces for LGBTQIA+, disabled, and neurodiverse people. The spaces are anti-racist and encourage folks to learn more about decolonizing the myriad systems of internal and external oppression.</p>

    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary  fs-2 mb-3">
        <span style="font-size: 3em; color: #FFF430;">
              <i class="fas fa-heart"></i>
        </span>
        </div>
        <h3 class="fs-2 text-body-emphasis">Gender and Sexuality</h3>
        <p>We believe that all gender identities, gender histories, and sexual orientations should be affirmed and work to support each other by normalizing pronoun usage, addressing people by the name(s) they have, and celebrating our community in our genderfulness (gender wonderfulness).</p>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary  fs-2 mb-3">
        <span style="font-size: 3em; color: #9C59D1;">
              <i class="fas fa-heart"></i>
        </span>
        </div>
        <h3 class="fs-2 text-body-emphasis">Disability and Neurodiversity</h3>
        <p>As a disability and neurodiverse-friendly community, we avoid ableist language and have compiled resources on what to say instead. We support systems identifying as plural.</p>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary  fs-2 mb-3">
        <span style="font-size: 3em; color: #FFF430; -webkit-text-stroke: 1px navy;">
              <i class="fas fa-heart"></i>♡
        </span>
        </div>
        <h3 class="fs-2 text-body-emphasis">Anti-Racism</h3>
        <p>We share resources from People of Color about racism and encourage the community to self-educate and take action to create a more just world.</p>

      </div>
    </div>
  
<h2 id="projects" class="text-center">Projects</h2>

    <div class="row g-4 py-5 row-cols-1 row-cols-lg-4">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <img src="/links/gender_federaton.png" alt="Gender Federation" style="max-width:40px;height:40px;">
        </div>
        <h3 class="fs-2 text-body-emphasis">Gender Federation</h3>
        <p>A direct mutual aid community that conducts fundraising through Twitch stream raid trains - trans joy for trans liberation!</p>

      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <img src="/links/genderful_podcast.png" alt="GenderfulPodcast.com" style="max-width:40px;height:40px;">
        </div>
        <h3 class="fs-2 text-body-emphasis">Genderful Podcast</h3>
        <p>A biweekly talk show interviewing gender-diverse people about their special interests.</p>

      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <img src="/links/twitch.png" alt="Twitch" style="max-width:40px;height:40px;">
        </div>
        <h3 class="fs-2 text-body-emphasis">GenderMeowster Twitch Channel</h3>
        <p>Anchored by MeowsterThemself, the Twitch channel streams consistently with a variety of Clowder Contributors doing wholesome content and educational activism. <a href="./schedule" >See our schedule here!</a></p>

      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <img src="/links/discord.png" alt="Discord" style="max-width:40px;height:40px;">
        </div>
        <h3 class="fs-2 text-body-emphasis">Meowster’s Clowder Discord Server</h3>
        <p>Meowster’s Clowder is an online trans peer support community offering comfy cozy moderated intersectional queer spaces & content for gender diverse adults.</p>

        <p>This server is a 24/7/365 intersectional trans community where folks can discuss their identities, hop in a voice chat for gaming and entertainment, and learn about community resources.</p>
      </div>
    </div>

</div>
</section>
