<a name="about"><h2 class="text-center">About</h2></a>
<p>GenderMeowster is a transmasc nonbinary AuDHD yt disabled Twitch affiliate. They are offering comfy cozy moderated queer spaces & content <a href="https://www.genderfulpodcast.com"  target="_blank"> @GenderfulPod</a> creator and <a href="https://www.twitch.tv/team/disabledcccollective"  target="_blank">DisabledCCC stream team.</a></p>

<h2>Values</h2>

<p>GenderMeowster’s various spaces strive to be comfy, cozy spaces for LGBTQIA+, disabled, and neurodiverse people. The spaces are anti-racist and encourage folks to learn more about decolonizing the myriad systems of internal and external oppression.</p>

<h2>Gender and Sexuality</h2>

<p>We believe that all gender identities, gender histories, and sexual orientations should be affirmed and work to support each other by normalizing pronoun usage, addressing people by the name(s) they have, and celebrating our community in our genderfulness (gender wonderfulness).</p>

<h2>Disability and Neurodiversity</h2>

<p>As a disability and neurodiverse-friendly community, we avoid ableist language and have compiled resources on what to say instead. We support systems identifying as plural.</p>

<h2>Anti-Racism</h2>

<p>We share resources from People of Color about racism and encourage the community to self-educate and take action to create a more just world.</p>

<h2 class="text-center">Projects</h2>

<a href="https://genderfederation.org" target="_blank"><h3>Gender Federation</h3></a>

<p>A direct mutual aid community that conducts fundraising through Twitch stream raid trains - trans joy for trans liberation!</p>

<a href="https://www.genderfulpodcast.com" target="_blank"><h3>Genderful Podcast</h3></a>

<p>A biweekly talk show interviewing gender-diverse people about their special interests.</p>

<a href="https://twitch.tv/gendermeowster" target="_blank"><h3>GenderMeowster Twitch Channel</h3></a>

<p>Anchored by MeowsterThemself, the Twitch channel streams consistently with a variety of Clowder Contributors doing wholesome content and educational activism. <a href="./schedule" >See our schedule here!</a></p>

<a href="http://discord.gg/meowster" target="_blank"><h3>Meowster’s Clowder Discord Server</h3></a>

<p>Meowster’s Clowder is an online trans peer support community offering comfy cozy moderated intersectional queer spaces & content for gender diverse adults.</p>

<p>This server is a 24/7/365 intersectional trans community where folks can discuss their identities, hop in a voice chat for gaming and entertainment, and learn about community resources.</p>
</section>
