<section id="contact" class="py-5">
    <div class="container">
        <h3 class="text-center">Contact</h3>
        <div class="px-0 px-md-5 px-lg-5">
            <div class="row justify-content-center px-md-5">
                <div class="col-md-8 py-3">
                    <div class="text-center">
                        {{ .Site.Params.contact.content | emojify | markdownify }}
                    <p></p>
                    <div class="row justify-content-center">
   <p><a class="btn" href="https://forms.gle/Webf7b6RzdHXyYydA">Write what you'd like to share with The Clowder! <img src="/google_forms.png" alt="Google Form" style="width:25px;"></a>
</p>



                    </div>

<p>
<!-- Calendly link widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet" >
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<a class="btn" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/gendermeowster'});return false;">Book an appointment with Calendly. <img src="/calendly.png" alt="calendly" style="width:25px;"></a>
<!-- Calendly link widget end -->
</p>


                    </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="contact-form-status"></div>
</section>


