<section id="contact" class="py-5">
        <h2 class="text-center">Contact Us</h2>

<p><a href="https://forms.gle/Webf7b6RzdHXyYydA">Write what you'd like to share with The Clowder! <img src="/google_forms.png" alt="Google Form" style="width:25px;"></a>
</p>

<!-- Calendly link widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/gendermeowster'});return false;">Book an appointment with Calendly. <img src="/calendly.png" alt="calendly" style="width:25px;"></a>
<!-- Calendly link widget end -->

</section>

