<section id="support" class="py-5">
<div class="px-0 px-md-5 px-lg-5">

        <h2 class="text-center">Support the Clowder</h2>
        
<p>Your support helps us keep the Clowder and all of our efforts going!</p>


    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div style="text-align: center;">
        <a href="https://www.patreon.com/GenderMeowster">
            <img src="links/patreon.png" alt="patreon" style="max-width:50px;height:50px;">
            <h3 class="fs-2 text-body-emphasis">Patreon</h3>
        </a>
        </div>
        <p>A recurring subscription on <a href="https://www.patreon.com/GenderMeowster">Patreon</a> to help us cover operating costs so we can keep doing what we do to make the biggest impact.</p>

      </div>
      <div class="feature col">
        <div style="text-align: center;">
          <a href="https://ko-fi.com/gendermeowster">
              <img src="links/kofi.png" alt="kofi" style="max-width:50px;height:50px;">
              <h3 class="fs-2 text-body-emphasis">Ko-fi</h3>
          </a>
        </div>
        <p>A one time tip on <a href="https://ko-fi.com/gendermeowster">Ko-fi</a> to give our programs a little boost.</p>

      </div>
      <div class="feature col">
        <div style="text-align: center;">
          <a href="https://gendermeowster.square.site" target="_blank">
            <img src="/links/square.png" alt="Square" style="max-width:40px;height:40px;">
            <h3 class="fs-2 text-body-emphasis">Merch</h3>
          </a>
        </div>
        <p>Buying some <a href="https://gendermeowster.square.site" target="_blank">merch</a> to represent us out in the world.</p>
      </div>

    </div>
    
    
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
      <div class="feature col">
        <div style="text-align: center;">
          <a href="https://throne.com/GenderMeowster" target="_blank">
            <img src="links/throne.png" alt="throne" style="max-width:50px;height:50px;">
            <h3 class="fs-2 text-body-emphasis">Throne</h3>
          </a>
       </div>
<p>If you'd like to get MeowsterThemself a gift, check out our <a href="https://throne.com/gendermeowster">Throne!</a></p>

      </div>
      <div class="feature col">
        <div style="text-align: center;">
        <a href="https://pally.gg/p/gendermeowster" target="_blank">
          <img src="/links/pallygg.png" alt="pally" style="max-width:40px;height:40px;">
          <h3 class="fs-2 text-body-emphasis">Mutual Aid</h3>
        </a>
        </div>
        <p>Engaging in our Gender Federation mutual aid efforts, through participation as an admin, streamer, moderator, volunteer, and/or donor to directly support our current mutual aid recipient. Please visit GenderMeowster's <a href="https://pally.gg/p/gendermeowster">Pally.gg</a> for channel fundraising efforts and smaller, single channel mutual aid work.</p>
      </div>

    </div>
    

</div>
</section>

