<section id="support" class="py-5">
        <h2 class="text-center">Support the Clowder</h2>
<p>Your support helps us keep the Clowder and all of our efforts going! Please consider:  </p>
<ul>
<li><img src="links/patreon.png" alt="patreon" style="max-width:50px;height:50px;"><a href="https://www.patreon.com/GenderMeowster?fan_landing=true">A recurring subscription on Patreon to help us cover operating costs so we can keep doing what we do to make the biggest impact.</a></li>
<li> 
<a href="https://ko-fi.com/gendermeowster"><img src="links/kofi.png" alt="kofi" style="max-width:50px;height:50px;"></a> A one time tip on <a href="https://ko-fi.com/gendermeowster">ko-fi</a> to give our programs a little boost.</li>
<li><img src="links/square.png" alt="square" style="max-width:50px;height:50px;">Buying some <a href="/#merch">merch</a> to represent us out in the world.</li>
<li><img src="links/throne.png" alt="throne" style="max-width:50px;height:50px;">If you'd like to get MeowsterThemself a gift, check out our <a href="https://throne.com/gendermeowster">Throne!</a></li>
</ul>

<h3>Mutual Aid</h3>
<ul>
<li>Engaging in our Gender Federation mutual aid efforts, through participation as an admin, streamer, moderator, volunteer, and/or donor to directly support our current mutual aid recipient.</li>
<li><a href="https://pally.gg/p/gendermeowster">Please visit GenderMeowster's Pally.gg for channel fundraising efforts and smaller, single channel mutual aid work.</a></li>
</ul>

</section>

