<section id="support" class="py-5">
        <h2 class="text-center">Support the Clowder</h2>
<p>Your support helps us keep the Clowder and all of our efforts going! Please consider:  </p>
<ul>
<li><a href="https://www.patreon.com/GenderMeowster?fan_landing=true">A recurring subscription on Patreon to help us cover operating costs so we can keep doing what we do to make the biggest impact.</a></li>
<li><a href="https://ko-fi.com/gendermeowster">A one time tip on ko-fi to give our programs a little boost.</a></li>
<li><a href="/#merch">Buying some merch to represent us out in the world.</a><li>
<li><a href="https://throne.com/gendermeowster">If you'd like to get MeowsterThemself a gift, check out our Throne!</a></li>
</ul>
<h3>Mutual Aid</h3>
<ul>
<li>Engaging in our Gender Federation mutual aid efforts, through participation as an admin, streamer, moderator, volunteer, and/or donor to directly support our current mutual aid recipient.</li>
<li><a href="https://pally.gg/p/gendermeowster">Please visit GenderMeowster's Pally.gg for channel fundraising efforts and smaller, single channel mutual aid work.</a></li>
</ul>

</section>

