
{{ define "head" }}
<meta name="description" content="{{ .Params.description }}">
<link rel="stylesheet" href="{{.Site.Params.staticPath}}/css/single.css">

<!-- fontawesome -->
<script defer src="{{.Site.Params.staticPath}}/fontawesome-5/all-5.15.4.js"></script>
{{ end }}

{{ define "title" }}
{{.Title }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}

<section id="single">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-12 col-lg-9">
        <div class="pr-lg-4">
          <div class="title mb-5">
            <h1 class="text-center mb-4">{{ .Title }}</h1>
            <div class="text-center">

              {{ if or (.Site.Params.singlePages.readTime.enable | default true) (.Params.enableReadingTime) }}
              <span id="readingTime">
                {{ .Site.Params.singlePages.readTime.content | default "min read" }}
              </span>
              {{ end }}
            </div>
          </div>
          {{ if .Params.image }}
          <div class="featured-image">
            <img class="img-fluid" src="{{ .Params.image }}" alt="{{ .Title }}">
          </div>
          {{ end }}
          <article class="page-content  p-2">
          

<h2>Staff Bios</h2>
{{ $row_color := "FFF430"}}

<table>
{{ range sort .Params.staff "name" }}
{{ if eq $row_color "FFF430" }}{{ $row_color = "9C59D1"}}
{{ else if eq $row_color "9C59D1" }}{{ $row_color = "FFF430"}}{{ end }}


  <tr style="border-color: #{{- $row_color -}};  width=100%;border-style: solid; border-width: 5px;  border-radius: 10px; padding-bottom: 50px;"> 
    <th width="20%" valign="top"><a href="{{ .website }}" target="_blank">

    {{ if .picture }}<img src="./{{ .picture }}" alt="{{ .name }}" style="height: auto;width: auto; max-width: 100px; max-height: 100px;padding-right: 10%;padding-left: 10%;">
    {{ else }}<img src="./Gilbert_Baker_Pride_Progress.png" alt="{{ .name }}" style="width:100px;height:100px;  padding-right: 30px;"> 
    {{ end }}</a>
    </th> 
    <th valign="top"><a href="{{ .website }}" target="_blank" id="{{ .name }}"><b>{{ .name }} {{ if .aka }} aka {{ .aka}} {{ end }}</a></b> ({{ .pronouns }}) {{ .bio | markdownify }}
    <p></p>
    </th></tr>
{{ end }} 
       </table>
<h2>Board of Directors</h2>
<ul>
{{ range where .Params.staff "board" true }}
<li><a href="#{{ .name }}">{{ .name }}</a></li>
{{ end }} 
</ul>
          {{ .Content | emojify }}

          

<p style="text-align:center"> <a href="/interest" class="btn"><button type="button"  class="btn btn-primary btn-lg btn-block"><img src="/pride_slime.png" alt="pride_slime" style="width:100px;height:100px;">Join the Pride Slimes</button></a></p>

          
          
          
          
          
          
          
          
          
          </article>
        </div>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-3">
        <div class="sticky-sidebar">
          {{ if .Params.toc | default true}}
          <aside class="toc">
              <h5>
                {{ .Site.Params.terms.toc | default "Table Of Contents" }}
              </h5>
              <div class="toc-content">
                   <ul>
                {{ range sort .Params.staff "name" }}
                    <li><a href="#{{ .name }}">{{ .name  }}</li></a>
                    {{ end }} 
                    </ul>
              </div>
          </aside>
          {{ end }}

          {{ if .Params.tags }}
          <aside class="tags">
            <h5>{{ .Site.Params.terms.tags | default "Tags" }}</h5>
            <ul class="tags-ul list-unstyled list-inline">
              {{range .Params.tags}}
              <li class="list-inline-item"><a href="{{`tags` | absURL}}/{{.| urlize}}" target="_blank">{{.}}</a></li>
              {{end}}
            </ul>
          </aside>
          {{end}}

          {{ if .Params.socialShare | default true }}
          <aside class="social">
            <h5>{{ .Site.Params.terms.social | default "Social" }}</h5>
            <div class="social-content">
              <ul class="list-inline">
                <li class="list-inline-item text-center">
                  <a target="_blank" href="https://twitter.com/share?text={{ .Title }}&url={{ .Site.Params.hostName }}{{ .Permalink | absURL }}">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item text-center">
                  <a target="_blank" href="https://api.whatsapp.com/send?text={{ .Title }}: {{ .Site.Params.hostName }}{{ .Permalink | absURL }}">
                    <i class="fab fa-whatsapp"></i>
                  </a>
                </li>
                <li class="list-inline-item text-center">
                  <a target="_blank" href='mailto:?subject={{ .Title }}&amp;body={{ .Site.Params.terms.emailText | default "Check out this site" }} {{ .Site.Params.hostName }}{{ .Permalink | absURL }}'>
                    <i class="fa fa-envelope"></i>
                  </a>
                </li>
              </ul>
            </div>
          </aside>
          {{ end }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-9 p-4">
        {{ template "_internal/disqus.html" . }}
      </div>
    </div>
  </div>
  <button class="p-2 px-3" onclick="topFunction()" id="topScroll">
    <i class="fas fa-angle-up"></i>
  </button>
</section>

{{ if or (.Site.Params.singlePages.scrollprogress.enable | default true) (.Params.enableScrollProgress) }}
<div class="progress">
  <div id="scroll-progress-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<Script src="{{.Site.Params.staticPath}}/js/scrollProgressBar.js"></script>
{{ end }}

<script>
  var topScroll = document.getElementById("topScroll");
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      topScroll.style.display = "block";
    } else {
      topScroll.style.display = "none";
    }
  }

  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>

{{ if or (.Site.Params.singlePages.readTime.enable | default true) (.Params.enableReadingTime) }}
<script src="{{.Site.Params.staticPath}}/js/readingTime.js"></script>
{{end}}

{{ end }}
